.facets-container {
	margin-bottom: 20px;
}

.facets-layout-vertical {
	margin-left: 5.26316%;
	margin-right: 5.26316%;
}

@media screen and (min-width: 768px) {
	.facets-layout-vertical {
		margin-left: 0;
		margin-right: 0;
	}
}

.facets-layout-horizontal {
	margin-top: 20px;
	width: 100%;
}

.facets-container button {
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: white;
	margin-bottom: 0;
	padding: 10px;
}

.facets-collapsed:after {
	font-size: larger;
	content: '\002B';
	float: right;
	margin-left: 5px;
}

.facets-collapsible:after {
	font-size: larger;
	content: "\2212";
	float: right;
	margin-left: 5px;
}

.container-vertical {
	max-width: 350px;
}

.container-vertical:not(:last-child) {
	padding-bottom: 20px;
}

.flex {
	/* We first create a flex layout context */
	display: flex;
	/* Then we define the flow direction 
	 and if we allow the items to wrap 
	* Remember this is the same as:
	* flex-direction: row;
	* flex-wrap: wrap;
	*/
	flex-flow: row wrap;

	/* Then we define how is distributed the remaining space */
	justify-content: space-between;
}

.container-horizontal {
	max-width: 350px;
	display: inline-block;
	/* float: left; */
	/* display: flex; */
}

.container-horizontal:not(:last-child) {
	padding-bottom: 20px;
}

.facets-container p.description {
	text-align: left;
	color: #545759;
	font-size: 90%;
	margin: 0;
	border-bottom: 1px solid #545759;
	font-style: italic;
	line-height: 140%;
	padding: 10px;
}

.facets-container .container {
	width: 100%;
	background-color: #F1F1F1;
}

.facets-container .hidden {
	display: none;
}

.facets-container form {
	padding: 20px 10px;
}

.facets-container form label {
	margin-bottom: 8px;
	color: #545759;
}

.facets-container form select {
	width: 100%;
	border: 0;
	appearance: none !important;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	background-color: #FFF;
	text-align: left;
	font-size: 80%;
}

.facet-selected {
	color: #FFF;
	background-color: #545759!important;
}

.facets-container .select-arrow, .facets-container .select-cross {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.facets-container .select-arrow select::-ms-expand, .facets-container .select-cross select::-ms-expand {
	display: none;
}
