.container-fluid {
	display: flex;
}

.search-container h4 {
	text-align: center;
	color: white;
	background-color: black;
	margin-bottom: 0;
	padding: 10px;
}

.search-container h5 {
	text-align: left;
	color: #545759;
	font-size: 90%;
	margin: 10px 10px 0 10px;
	border-bottom: 1px solid #545759;
	font-style: italic;
	padding-bottom: 10px;
	line-height: 140%;
}

.search-container {
	max-width: 350px;
	margin-bottom: 20px;
}

.search-container .container {
	width: 100%;
	background-color: #F1F1F1;
}

.search-container form {
	padding: 20px 10px;
}

.search-container .container .container-fluid:not(:first-child) {
	padding-top: 20px;
}

.search-container form label {
	/* margin-left: auto; */
	/* margin-right: auto; */
	margin-bottom: 8px;
	color: #545759;
}

.search-container form select {
	width: 100%;
	border: 0;
	appearance: none !important;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	background-color: #FFF;
	text-align: left;
	font-size: 80%;
}

.facet-selected {
	color: #FFF;
	background-color: #545759!important;
}

.search-container .select-arrow, .search-container .select-cross {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.search-container .select-arrow select::-ms-expand, .search-container .select-cross select::-ms-expand {
	display: none;
}

.search-container .select-cross:after {
	/* pointer-events: none; */
	/* position: absolute; */
	/* content: ''; */
	/* top: 9px; */
	/* right: 10px; */
	/* height: 10px; */
	/* width: 10px; */
	/* background-size: cover!important; */
	/* background: url('../images/cross.svg'); */
}

.search-container .select-arrow:after {
	/* width: 0; */
	/* pointer-events: none; */
	/* position: absolute; */
	/* content: ''; */
	/* top: 8px; */
	/* right: 10px; */
	/* border-top: 8px solid #3D3D3D; */
	/* border-bottom: 8px solid transparent; */
	/* border-left: 8px solid transparent; */
	/* border-right: 8px solid transparent; */
}

.search-container .select-arrow span, .container-fluid .search-container .select-cross span {
	/* padding-right: 5%; */
}

.search-container button {
	width: 73%;
	font-family: 'open-bold';
	margin-left: auto;
	margin-right: auto;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 0;
	border: 0;
	background-color: #FF5E4D;
	color: white;
}